services:
  # vpn
  qbittorrent:
    # build:
    #   context: .
    #   dockerfile: Dockerfile
    image: gathecageorge/docker-surfshark-qbittorrent
    restart: unless-stopped
    dns:
        - 1.1.1.1 # Cloudflare DNS
        - 8.8.8.8 # Google DNS
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - 8080:8080       # qbittorrent web interface
      - 6881:6881       # qbittorrent torrent port
      - 6881:6881/udp   # qbittorrent torrent port
    volumes:
      - qbittorrent_config:/config
      - ./qbittorrent/downloads:/downloads
    environment:
      - FIREWALL=on
      - FIREWALL_OUTBOUND_SUBNETS=${FIREWALL_OUTBOUND_SUBNETS}

      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}

      - WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 120s
      timeout: 10s
      retries: 3
      start_period: 20s

volumes:
  qbittorrent_config: {}
